@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Karla', sans-serif;
	font-size: 1.6rem;
	background-color: $green;
	position: relative;
}

.wrapper {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 4rem;
	background-color: $white;
	border-radius: 8px;

	span {
		color: $darkGreen;
	}

	.contact-form {
		padding: 2rem;

		h3 {
			font-size: 3rem;
		}

		.contact-form-top {
			padding-top: 1rem;

			input.error {
				border-color: $red;
			}
			.message-error {
				margin: 1rem 0 2rem;
				color: $red;
				font-size: 1.4rem;
			}

			label {
				font-size: 1.4rem;
			}

			input {
				padding: 1rem;
				margin-top: 1rem;
				width: 100%;
				border-radius: 8px;
				border: solid 1px $gray;
				transition: border-color 1s;

				&:hover {
					border-color: $darkGreen;
				}

				&:focus {
					outline: $darkGreen;
				}
			}

			.input-box-3 {
				.email-msg-error {
					margin: 1rem 0 2rem;
					color: $red;
				}
			}
		}

		.contact-form-middle {
			.query-error-msg {
				color: $red;
				margin: 1rem 0 2rem;
			}
			.query-box {
				display: block;
				padding: 1rem;
				margin-top: 1rem;
				width: 100%;
				border-radius: 8px;
				border: solid 1px $gray;
				transition: border-color, background-color 0.3s;

				&:hover {
					border-color: $darkGreen;
					background-color: $green;
				}

				&:focus {
					outline: $darkGreen;
				}

				input {
					margin: 0 1rem;
					cursor: pointer;
				}

				.contact-form-input:checked + .query-box {
					background-color: $green;
				}
			}

			.query-box input[type='radio']:checked {
				accent-color: $darkGreen;
			}
		}

		.contact-form-bottom {
			.input-box-6 {
				display: flex;
				flex-direction: column;

				textarea.error {
					border-color: $red;
				}

				.contact-form-textarea {
					margin-top: 1rem;
					padding: 1rem;
					height: 200px;
					max-width: 100%;
					font-size: 1.6rem;
					border-radius: 8px;
					border: solid 1px $gray;
					transition: border-color 1s;

					&:hover {
						border-color: $darkGreen;
					}

					&:focus {
						outline: $darkGreen;
					}
				}

				.message-error {
					margin: 1rem 0 2rem;
					color: $red;
					font-size: 1.4rem;
				}
			}

			.input-box-7 {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				text-align: left;

				label {
					padding-left: 1rem;
				}

				input[type='checkbox'] {
					appearance: none;
					width: 14px;
					height: 14px;
					border: none;
					padding: 0.5em;
					border: 1px black solid;
					border-radius: 3px;
					cursor: pointer;
					position: relative;

					&:checked {
						background-color: $darkGreen;

						&::before {
							content: '✓';
							color: white;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-size: 10px;
						}
					}
				}
			}

			.message-error-check {
				margin: 1rem 0 2rem;
				color: $red;
				font-size: 1.4rem;
			}
		}

		.btn {
			padding: 2rem;
			width: 100%;
			background-color: $darkGreen;
			color: $white;
			letter-spacing: 1px;
			border-radius: 8px;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: $darkGray;
			}
		}
	}
}

.msg-status {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	padding: 2rem;
	width: 300px;
	border-radius: 8px;
	color: $white;
	background-color: $darkGray;
	opacity: 0;
	transition: opacity 0.4s;
	z-index: 10;

	.status-box {
		display: flex;
		font-weight: bold;
		padding-bottom: 2rem;

		img {
			padding-right: 1rem;
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		max-width: 600px;
		margin: 10rem auto;

		h3 {
			margin-bottom: 2rem;
		}

		.contact-form-top {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 8px;

			.input-box-1,
			.input-box-2 {
				grid-column: auto;
			}

			.input-box-3 {
				grid-column: 1 / -1;
				width: 100%;
			}
		}

		.contact-form-middle {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto 1fr;
			gap: 12px;

			p,
			.contact-form-label,
			label {
				font-size: 1.6rem;
			}

			.concact-form-label {
				grid-column: 1 / -1;
				margin: 0;
			}
		}
	}

	.msg-status {
		width: 500px;
	}
}
