@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  background-color: #E0F1E8;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 4rem;
  background-color: white;
  border-radius: 8px;
}
.wrapper span {
  color: #0C7D69;
}
.wrapper .contact-form {
  padding: 2rem;
}
.wrapper .contact-form h3 {
  font-size: 3rem;
}
.wrapper .contact-form .contact-form-top {
  padding-top: 1rem;
}
.wrapper .contact-form .contact-form-top input.error {
  border-color: #D73C3C;
}
.wrapper .contact-form .contact-form-top .message-error {
  margin: 1rem 0 2rem;
  color: #D73C3C;
  font-size: 1.4rem;
}
.wrapper .contact-form .contact-form-top label {
  font-size: 1.4rem;
}
.wrapper .contact-form .contact-form-top input {
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 8px;
  border: solid 1px #86A2A5;
  transition: border-color 1s;
}
.wrapper .contact-form .contact-form-top input:hover {
  border-color: #0C7D69;
}
.wrapper .contact-form .contact-form-top input:focus {
  outline: #0C7D69;
}
.wrapper .contact-form .contact-form-top .input-box-3 .email-msg-error {
  margin: 1rem 0 2rem;
  color: #D73C3C;
}
.wrapper .contact-form .contact-form-middle .query-error-msg {
  color: #D73C3C;
  margin: 1rem 0 2rem;
}
.wrapper .contact-form .contact-form-middle .query-box {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 8px;
  border: solid 1px #86A2A5;
  transition: border-color, background-color 0.3s;
}
.wrapper .contact-form .contact-form-middle .query-box:hover {
  border-color: #0C7D69;
  background-color: #E0F1E8;
}
.wrapper .contact-form .contact-form-middle .query-box:focus {
  outline: #0C7D69;
}
.wrapper .contact-form .contact-form-middle .query-box input {
  margin: 0 1rem;
  cursor: pointer;
}
.wrapper .contact-form .contact-form-middle .query-box .contact-form-input:checked + .query-box {
  background-color: #E0F1E8;
}
.wrapper .contact-form .contact-form-middle .query-box input[type=radio]:checked {
  accent-color: #0C7D69;
}
.wrapper .contact-form .contact-form-bottom .input-box-6 {
  display: flex;
  flex-direction: column;
}
.wrapper .contact-form .contact-form-bottom .input-box-6 textarea.error {
  border-color: #D73C3C;
}
.wrapper .contact-form .contact-form-bottom .input-box-6 .contact-form-textarea {
  margin-top: 1rem;
  padding: 1rem;
  height: 200px;
  max-width: 100%;
  font-size: 1.6rem;
  border-radius: 8px;
  border: solid 1px #86A2A5;
  transition: border-color 1s;
}
.wrapper .contact-form .contact-form-bottom .input-box-6 .contact-form-textarea:hover {
  border-color: #0C7D69;
}
.wrapper .contact-form .contact-form-bottom .input-box-6 .contact-form-textarea:focus {
  outline: #0C7D69;
}
.wrapper .contact-form .contact-form-bottom .input-box-6 .message-error {
  margin: 1rem 0 2rem;
  color: #D73C3C;
  font-size: 1.4rem;
}
.wrapper .contact-form .contact-form-bottom .input-box-7 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.wrapper .contact-form .contact-form-bottom .input-box-7 label {
  padding-left: 1rem;
}
.wrapper .contact-form .contact-form-bottom .input-box-7 input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 14px;
  height: 14px;
  border: none;
  padding: 0.5em;
  border: 1px black solid;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.wrapper .contact-form .contact-form-bottom .input-box-7 input[type=checkbox]:checked {
  background-color: #0C7D69;
}
.wrapper .contact-form .contact-form-bottom .input-box-7 input[type=checkbox]:checked::before {
  content: "✓";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}
.wrapper .contact-form .contact-form-bottom .message-error-check {
  margin: 1rem 0 2rem;
  color: #D73C3C;
  font-size: 1.4rem;
}
.wrapper .contact-form .btn {
  padding: 2rem;
  width: 100%;
  background-color: #0C7D69;
  color: white;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.wrapper .contact-form .btn:hover {
  background-color: #2A4144;
}

.msg-status {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 2rem;
  width: 300px;
  border-radius: 8px;
  color: white;
  background-color: #2A4144;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 10;
}
.msg-status .status-box {
  display: flex;
  font-weight: bold;
  padding-bottom: 2rem;
}
.msg-status .status-box img {
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 600px;
    margin: 10rem auto;
  }
  .wrapper h3 {
    margin-bottom: 2rem;
  }
  .wrapper .contact-form-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }
  .wrapper .contact-form-top .input-box-1,
  .wrapper .contact-form-top .input-box-2 {
    grid-column: auto;
  }
  .wrapper .contact-form-top .input-box-3 {
    grid-column: 1/-1;
    width: 100%;
  }
  .wrapper .contact-form-middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 12px;
  }
  .wrapper .contact-form-middle p,
  .wrapper .contact-form-middle .contact-form-label,
  .wrapper .contact-form-middle label {
    font-size: 1.6rem;
  }
  .wrapper .contact-form-middle .concact-form-label {
    grid-column: 1/-1;
    margin: 0;
  }
  .msg-status {
    width: 500px;
  }
}/*# sourceMappingURL=main.css.map */